{% extends "base.html" %}
{% block content %}

    <h2 class="text-body text-center display-5">Detail historie</h2>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;" id="div">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-body-secondary">Celková cena</h5>
                <p class="card-text">
                    <b>{{historie.Celkova_cena}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Dokončeno</h5>
                <p class="card-text">
                    <b>{{historie.Dokonceno}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Pracovní úkony</h5>
                <p class="card-text">
                    <b>{{historie.PracovniUkon_Id_ukonu}}</b>
                </p>
            </div>
            <a href="{% url 'historie_oprav' %}" class="btn btn-outline-primary">Zpět</a>
        </div>
    </div>

{% endblock %}