{% extends "base.html" %}
{% block content %}

    <div class="container py-4 px-3 mx-auto">
        <h2 class="text-body text-center display-5">Seznam historie oprav</h2>

        <div class="border border-2 p-4">
            {% if user.is_admin %}<a class="btn btn-outline-primary mb-2" href="{% url 'historieAdd' %}"><i class="bi bi-plus-square"></i> Přidat</a>{% endif %}
            <table class="table table-hover">
                <thead class="text-white" style="background-color: #003333">
                    <tr>
                        <th>Celková cena</th>
                        <th>Dokončeno</th>
                        <th>Pracovní úkony</th>
                        <th></th>
                    </tr>
                </thead>
            {% for his in historie_oprav %}
                <tbody>
                    <tr>
                        <td>{{his.Celkova_cena}}</td>
                        <td>{{his.Dokonceno}}</td>
                        <td>{{his.PracovniUkon_Id_ukonu|join:', '}}</td>
                        <td>
                            {% if user.is_admin %}<a href="{% url 'historieUpdate' his.Id_opravy %}" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Editovat</a>{% endif %}
                            {% if user.is_authenticated %}<a href="{% url 'historieDetail' his.Id_opravy %}" class="btn btn-outline-primary"><i class="bi bi-card-heading"></i> Detail</a>{% endif %}
                            {% if user.is_admin %} <a href="{% url 'historieDelete' his.Id_opravy %}" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Odstranit</a>{% endif %}
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}