{% extends "base.html" %}
{% block content %}
    <h2 class="text-body text-center display-5">Kudy k nám?</h2>

    <div class="container py-4 px-3 mx-auto">
        <div class="card " style="width: 18rem;" id="div">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-body-secondary"><i class="bi bi-signpost"></i> Adresa</h5>
                <p class="card-text">
                    Prof. Fuky 5
                    <br>
                    Olomouc
                    <br>
                    779 00
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary"><i class="bi bi-phone"></i> Telefon</h5>
                <p class="card-text">
                    596 818 818
                    <br>
                    739 571 641
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary"><i class="bi bi-calendar"></i> Pracovní doba</h5>
                <p class="card-text">
                    <b>PO-PÁ:</b> 7:00 - 17:00
                    <br>
                    <b>SO-NE:</b> ZAVŘENO
                </p>
            </div>
        </div>

        <div>
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.7710954302606!2d17.225203776278857!3d49.58320667143957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47124e4fd2f83f41%3A0x76de74f6ed3a6fd2!2sProf.%20Fuky!5e0!3m2!1scs!2scz!4v1682632279512!5m2!1scs!2scz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

{% endblock %}