{% extends "base.html" %}
{% block content %}

    <div class="container py-4 px-3 mx-auto">
        <h2 class="text-body text-center display-5">Seznam majitelů</h2>

        <div class="border border-2 p-4">
            {% if user.is_admin %}<a class="btn btn-outline-primary mb-2" href="{% url 'majitelAdd' %}"><i class="bi bi-plus-square"></i> Přidat</a>{% endif %}
            <table class="table table-hover">
                <thead class="text-white" style="background-color: #003333">
                    <tr>
                        <th>Jméno</th>
                        <th>Příjmení</th>
                        <th>Ulice</th>
                        <th>Město</th>
                        <th>PSČ</th>
                        <th>Email</th>
                        <th>Mobil</th>
                        <th>Vozidla</th>
                        <th></th>
                    </tr>
                </thead>
            {% for maj in majitele %}
                <tbody>
                    <tr>
                        <td>{{maj.Jmeno}}</td>
                        <td>{{maj.Prijmeni}}</td>
                        <td>{{maj.Ulice}}</td>
                        <td>{{maj.Mesto}}</td>
                        <td>{{maj.PSC}}</td>
                        <td>{{maj.Email}}</td>
                        <td>{{maj.Mobil}}</td>
                        <td>{{maj.Vozidlo_Id_vozidla.all|join:', '}}</td>
                        <td>
                            {% if user.is_admin %}<a href="{% url 'majitelUpdate' maj.Id_majitele %}" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Editovat</a>{% endif %}
                            {% if user.is_authenticated %}<a href="{% url 'majitelDetail' maj.Id_majitele %}" class="btn btn-outline-primary"><i class="bi bi-card-heading"></i> Detail</a>{% endif %}
                            {% if user.is_admin %}<a href="{% url 'majitelDelete' maj.Id_majitele %}" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Odstranit</a>{% endif %}
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}