{% extends "base.html" %}
{% block content %}

    <h2 class="text-body text-center display-5">Nový majitel</h2>
    {% if submitted %}

          Přidání záznamu proběhlo v pořádku

    {% else %}
    <div class="container py-4 px-3 mx-auto">
            <form method="post">
                {% csrf_token %}
                {{ majitel_form.as_p }}
                <input class="btn btn-outline-primary btn-lg" type="submit" value="Uložit"/>
            </form>
    </div>
    {% endif %}
{% endblock %}