{% extends "base.html" %}
{% block content %}

    <h2 class="text-body text-center display-5">Detail majitele</h2>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;" id="div">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-body-secondary">Jméno</h5>
                <p class="card-text">
                    <b>{{majitel.Jmeno}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Příjmení</h5>
                <p class="card-text">
                    <b>{{majitel.Prijmeni}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Ulice</h5>
                <p class="card-text">
                    <b>{{majitel.Ulice}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Město</h5>
                <p class="card-text">
                    <b>{{majitel.Mesto}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">PSČ</h5>
                <p class="card-text">
                    <b>{{majitel.PSC}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Email</h5>
                <p class="card-text">
                    <b>{{majitel.Email}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Mobil</h5>
                <p class="card-text">
                    <b>{{majitel.Mobil}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Vozidla</h5>
                <p class="card-text">
                    <b>{{majitel.Vozidlo_Id_vozidla.all|join:', '}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Zákazky</h5>
                <p class="card-text">
                    <b>{{majitel.Zakazky_Id_zakazky.all|join:', '}}</b>
                </p>
            </div>
            <a href="{% url 'majitele' %}" class="btn btn-outline-primary">Zpět</a>
        </div>
    </div>

{% endblock %}