{% extends "base.html" %}
{% block content %}

    <div class="container py-4 px-3 mx-auto">
        <h2 class="text-body text-center display-5">Seznam pracovních úkonů</h2>

        <div class="border border-2 p-4">
            {% if user.is_admin %}<a class="btn btn-outline-primary mb-2" href="{% url 'ukonAdd' %}"><i class="bi bi-plus-square"></i> Přidat</a>{% endif %}
            <table class="table table-hover">
                <thead class="text-white" style="background-color: #003333">
                    <tr>
                        <th>Pozice</th>
                        <th>Popis</th>
                        <th>Cena</th>
                        <th>Datum provedení</th>
                        <th>Použité díly</th>
                        <th></th>
                    </tr>
                </thead>
            {% for ukon in pracovni_ukon %}
                <tbody>
                    <tr>
                        <td>{{ukon.Pozice}}</td>
                        <td>{{ukon.Popis}}</td>
                        <td>{{ukon.Cena}}</td>
                        <td>{{ukon.Datum_provedeni}}</td>
                        <td>{{ukon.SkladND_Id_ND.all|join:', '}}</td>
                        <td>
                            {% if user.is_admin %}<a href="{% url 'ukonUpdate' ukon.Id_ukonu %}" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Editovat</a>{% endif %}
                            {% if user.is_authenticated %}<a href="{% url 'ukonDetail' ukon.Id_ukonu %}" class="btn btn-outline-primary"><i class="bi bi-card-heading"></i> Detail</a>{% endif %}
                            {% if user.is_admin %}<a href="{% url 'ukonDelete' ukon.Id_ukonu %}" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Odstranit</a>{% endif %}
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}