{% extends "base.html" %}
{% block content %}

    <div class="container py-4 px-3 mx-auto">
        <h2 class="text-body text-center display-5">Seznam náhradních dílů</h2>

        <div class="border border-2 p-4">
            {% if user.is_admin %}<a class="btn btn-outline-primary mb-2" href="{% url 'skladAdd' %}"><i class="bi bi-plus-square"></i> Přidat</a>{% endif %}
            <table class="table table-hover">
                <thead class="text-white" style="background-color: #003333">
                    <tr>
                        <th>Název</th>
                        <th>Výrobce</th>
                        <th>Cena ND</th>
                        <th>Počet kusů</th>
                        <th></th>
                    </tr>
                </thead>
            {% for nd in sklad_ND %}
                <tbody>
                    <tr>
                        <td>{{nd.Nazev}}</td>
                        <td>{{nd.Vyrobce}}</td>
                        <td>{{nd.Cena_ND}}</td>
                        <td>{{nd.Pocet_kusu}}</td>
                        <td>
                            {% if user.is_admin %}<a href="{% url 'skladUpdate' nd.Id_ND %}" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Editovat</a>{% endif %}
                            {% if user.is_authenticated %}<a href="{% url 'skladDetail' nd.Id_ND %}" class="btn btn-outline-primary"><i class="bi bi-card-heading"></i> Detail</a>{% endif %}
                            {% if user.is_admin %}<a href="{% url 'skladDelete' nd.Id_ND %}" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Odstranit</a>{% endif %}
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}