{% extends "base.html" %}
{% block content %}

    <h2 class="text-body text-center display-5">Detail ND</h2>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;" id="div">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-body-secondary">Název</h5>
                <p class="card-text">
                    <b>{{sklad.Nazev}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Výrobce</h5>
                <p class="card-text">
                    <b>{{sklad.Vyrobce}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Cena ND</h5>
                <p class="card-text">
                    <b>{{sklad.Cena_ND}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Počet kusů</h5>
                <p class="card-text">
                    <b>{{sklad.Pocet_kusu}}</b>
                </p>
            </div>
            <a href="{% url 'sklad_ND' %}" class="btn btn-outline-primary">Zpět</a>
        </div>
    </div>

{% endblock %}