{% extends "base.html" %}
{% block content %}

    <h2 class="text-body text-center display-5">Aktualizace úkonu</h2>

    <div class="container py-4 px-3 mx-auto">
            <form  method="post">{% csrf_token %}
                {{ ukon_form.as_p }}
                <input class="btn btn-outline-primary btn-lg" type="submit" value="Uložit"/>
            </form>
        </div>

{% endblock %}