{% extends "base.html" %}
{% block content %}

    <h2 class="text-body text-center display-5">Detail úkonu</h2>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;" id="div">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-body-secondary">Pozice</h5>
                <p class="card-text">
                    <b>{{ukon.Pozice}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Popis</h5>
                <p class="card-text">
                    <b>{{ukon.Popis}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Cena</h5>
                <p class="card-text">
                    <b>{{ukon.Cena}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Datum provedení</h5>
                <p class="card-text">
                    <b>{{ukon.Datum_provedeni}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Použité ND</h5>
                <p class="card-text">
                    <b>{{ukon.SkladND_Id_ND.all|join:', '}}</b>
                </p>
            </div>
            <a href="{% url 'pracovni_ukon' %}" class="btn btn-outline-primary">Zpět</a>
        </div>
    </div>

{% endblock %}