{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="col-md-4 login">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{form|crispy}}
            <button type="submit" class="btn btn-outline-primary" value="Login">Přihlásit se</button>
        </div>
    </form>
</div>
{% endblock %}