{% extends "base.html" %}
{% block content %}

    <h2 class="text-body text-center display-5">Detail vozidla</h2>

    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;" id="div">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-body-secondary">Značka</h5>
                <p class="card-text">
                    <b>{{vozidlo.Znacka}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Typ</h5>
                <p class="card-text">
                    <b>{{vozidlo.Typ}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Motor</h5>
                <p class="card-text">
                    <b>{{vozidlo.Motor}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">SPZ</h5>
                <p class="card-text">
                    <b>{{vozidlo.SPZ}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">VIN</h5>
                <p class="card-text">
                    <b>{{vozidlo.VIN}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Tachometr</h5>
                <p class="card-text">
                    <b>{{vozidlo.Tachometr}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">V provozu od</h5>
                <p class="card-text">
                    <b>{{vozidlo.V_provozu_od}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Foto</h5>
                <p class="card-text">
                    {% if vozidlo.Foto %}
                        <a href="{{vozidlo.Foto.url}}"><img width="100" height="50" src="{{vozidlo.Foto.url}}"></a>
                    {% endif %}
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Historie oprav</h5>
                <p class="card-text">
                    <b>{{vozidlo.HistorieOprav_Id_opravy.all|join:', '}}</b>
                </p>
            </div>
            <a href="{% url 'vozidla' %}" class="btn btn-outline-primary">Zpět</a>
        </div>
    </div>

{% endblock %}