{% extends "base.html" %}
{% block content %}

    <div class="container py-4 px-3 mx-auto">
        <h2 class="text-body text-center display-5">Seznam vozidel</h2>

        <div class="border border-2 p-4">
            {% if user.is_admin %}<a class="btn btn-outline-primary mb-2" href="{% url 'vozidloAdd' %}"><i class="bi bi-plus-square"></i> Přidat</a>{% endif %}
            <table class="table table-hover">
                <thead class="text-white" style="background-color: #003333">
                    <tr>
                        <th>Značka</th>
                        <th>Typ</th>
                        <th>Motor</th>
                        <th>SPZ</th>
                        <th>VIN</th>
                        <th>Tachometr</th>
                        <th>V provozu od</th>
                        <th></th>
                    </tr>
                </thead>
            {% for voz in vozidla %}
                <tbody>
                    <tr>
                        <td>{{voz.Znacka}}</td>
                        <td>{{voz.Typ}}</td>
                        <td>{{voz.Motor}}</td>
                        <td>{{voz.SPZ}}</td>
                        <td>{{voz.VIN}}</td>
                        <td>{{voz.Tachometr}}</td>
                        <td>{{voz.V_provozu_od}}</td>
                        <td>
                            {% if user.is_admin %}<a href="{% url 'vozidloUpdate' voz.Id_vozidla %}" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Editovat</a>{% endif %}
                            {% if user.is_authenticated %}<a href="{% url 'vozidloDetail' voz.Id_vozidla %}" class="btn btn-outline-primary"><i class="bi bi-card-heading"></i> Detail</a>{% endif %}
                            {% if user.is_admin %}<a href="{% url 'vozidloDelete' voz.Id_vozidla %}" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Odstranit</a>{% endif %}
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}