{% extends "base.html" %}
{% block content %}

    <div class="container py-4 px-3 mx-auto">
        <h2 class="text-body text-center display-5">Seznam zákazek</h2>

        <div class="border border-2 p-4">
            {% if user.is_admin %}<a class="btn btn-outline-primary mb-2" href="{% url 'zakazkaAdd' %}"><i class="bi bi-plus-square"></i> Přidat</a>{% endif %}
            <table class="table table-hover">
                <thead class="text-white" style="background-color: #003333">
                    <tr>
                        <th>Název</th>
                        <th>Datum příjmu</th>
                        <th>Čas příjmu</th>
                        <th>Úkony</th>
                        <th></th>
                    </tr>
                </thead>
            {% for zak in zakazky %}
                <tbody>
                    <tr>
                        <td>{{zak.Nazev}}</td>
                        <td>{{zak.Datum_prijmu}}</td>
                        <td>{{zak.Cas_prijmu}}</td>
                        <td>{{zak.PracovniUkon_Id_ukonu.all|join:', '}}</td>
                        <td>
                            {% if user.is_admin %}<a href="{% url 'zakazkaUpdate' zak.Id_zakazky %}" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Editovat</a>{% endif %}
                            {% if user.is_authenticated %}<a href="{% url 'zakazkaDetail' zak.Id_zakazky %}" class="btn btn-outline-primary"><i class="bi bi-card-heading"></i> Detail</a>{% endif %}
                            {% if user.is_admin %}<a href="{% url 'zakazkaDelete' zak.Id_zakazky %}" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Odstranit</a>{% endif %}
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}