{% extends "base.html" %}
{% block content %}

    <h2 class="text-body text-center display-5">Detail zákazky</h2>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;" id="div">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-body-secondary">Název</h5>
                <p class="card-text">
                    <b>{{zakazka.Nazev}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Popis závady</h5>
                <p class="card-text">
                    <b>{{zakazka.Popis_zavady}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Datum příjmu</h5>
                <p class="card-text">
                    <b>{{zakazka.Datum_prijmu}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Čas příjmu</h5>
                <p class="card-text">
                    <b>{{zakazka.Cas_prijmu}}</b>
                </p>
                <h5 class="card-subtitle mb-2 text-body-secondary">Úkony</h5>
                <p class="card-text">
                    <b>{{zakazka.PracovniUkon_Id_ukonu.all|join:', '}}</b>
                </p>
            </div>
            <a href="{% url 'zakazky' %}" class="btn btn-outline-primary">Zpět</a>
        </div>
    </div>

{% endblock %}