<!DOCTYPE html>
<html lang="cs">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Autoservis</title>
    <link rel="shortcut icon" href="{% static 'icons/service.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <style>
        .table-hover tbody tr:hover td
        {
            background: #CFE4E4;
        }
        .btn-outline-primary
        {
            color: #0D4D4D;
            border-color: #0D4D4D;
        }
        .btn-outline-primary:hover
        {
            color: white;
            background-color: #003333;
            border-color: #003333;
        }
        .btn-outline-primary:active:hover{
            background-color: #003333;
            border-color: #003333;
        }
        .card {
            margin-left: 2%
        }
        .navbar{
            background-color: #669999;
        }
        #main{
            color: #003333;
        }
        footer {
            display: flex;
            justify-content:: flex-end;
        }
        iframe {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -70%);
        }
        .login {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" id="main" href="{% url 'base' %}">
              <i class="bi bi-speedometer"></i> Autoservis
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'zakazky' %}">Zákazky</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'majitele' %}">Majitelé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'vozidla' %}">Vozidla</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'historie_oprav' %}">Historie oprav</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'pracovni_ukon' %}">Pracovní úkony</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sklad_ND' %}">Sklad ND</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'kontakt' %}">Kontakt</a>
                </li>
              </ul>
              <ul class="navbar-nav flex-grow-2">
                  {% if request.user.is_authenticated %}
                      <li class="nav_item">
                          <a class="nav-link" href="{% url 'logout' %}">Odhlásit se</a>
                      </li>
                  {% else %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'login' %}">Login</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/register">Registrace</a>
                      </li>
                  {% endif %}
              </ul>
            </div>
          </div>
        </nav>
    </header>

    {% if messages %}
        {% for mess in messages %}
            {% if mess.tags %}
                <div class="alert alert-{{ mess.tags }} alert-dismissible fade show" role="alert">
                    {{ mess }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% block content %}

        <div class="container">
            <h2 class="text-body text-center display-5">Vítejte v systému pro autoservis</h2>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/Camaro.jpg' %}" class="d-block w-100" alt="Camaro">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/BMW.jpg' %}" class="d-block w-100" alt="BMW">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/M_Benz.jpg' %}" class="d-block w-100" alt="Mercedes-Benz">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endblock %}

    <div class="footer">
        <footer class="border-top text-muted">
            <div class="container">
                &copy;{% now 'Y' %} - Autoservis
            </div>
        </footer>
    </div>
</body>
</html>